<!-- App.vue -->

<v-app>
  <!-- <v-navigation-drawer app>
  </v-navigation-drawer> -->

  <v-app-bar app>
    <!-- -->
    Youtube shuffler
  </v-app-bar>

  <!-- Provides the application the proper gutter -->
  <v-main>
    <v-container fluid>
      <v-card>
        <v-card-title>
          titel
        </v-card-title>
        <v-card-text>
          textueirstaie uisarte uaitseriua tsreau itsre au
        </v-card-text>
      </v-card>
    </v-container>
  </v-main>

  <v-footer app>
    <!-- -->
  </v-footer>
</v-app>